@import './_variables.scss';

.page-container{
    @include page-container-style; //empty

    .portfolio-title{
        @include page-title-style;
        padding-bottom: 50px
    }

    .flags-div {
        flex-direction: column;
        column-count: 2;
        
        width: 50%;
        margin-left: 30%;
        
        //border: 1px white dashed;
      
        .skill{
            display: flex;
            flex-direction: row;
            align-items: center;
            

            .flag{
                @include noSelect;
                display: flex;
                justify-content: space-around;
                width: 80px;
                padding: 2px;
                margin-left: 20px;
                height: fit-content;
                @media screen and (max-width: 840px) {
                    width: 30px;
                }
            }
            .gauge{
                @include basic-text;
                @include noSelect;
                letter-spacing: -12px;
                font-weight: bolder;
                margin-left: 20px;
                font-size: 30px;
                transform: scaleY(1);
                color: white;
                text-shadow:
                    //-3px 0 5px $lightBlue,
                    0 0 5px $lightBlue,
                    0 0 15px $midBlue,    
            }
        }
    }
    .text{
        @include basic-text;
        margin-top: -30px;
        margin-left: -50px;
    }

}


